---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MdxCallout from "../../components/MdxCallout.astro";

const slugParam = Astro.params.slug;
const slug = Array.isArray(slugParam) ? slugParam.join("/") : slugParam;

const notes = await getCollection("notes", ({ data }) => !data.draft);
const note = notes.find((entry) => entry.id === slug);

if (!note) {
    return Astro.redirect("/404");
}

const { Content } = await render(note);
---

<BaseLayout title={note.data.title}>
    <a href="/" class="back">← назад</a>
    <div id="progress"></div>
    <h1>{note.data.title}</h1>

    <div class="meta">
        <span>
            {
                note.data.date.toLocaleDateString("ru-RU", {
                    day: "numeric",
                    month: "long",
                    year: "numeric",
                })
            }
        </span>
        {note.data.tags.map((t) => <span>#{t}</span>)}
    </div>

    <div class="prose">
        <Content components={{ MdxCallout }} />
    </div>
    <button id="button-up" title="Переместиться вверх">Вверх</button>
</BaseLayout>

<style>
    #button-up {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background: none;
        border: 1px solid var(--line);
        color: var(--text);
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
        cursor: pointer;
        transition:
            opacity 0.3s,
            visibility 0.3s,
            border-color 0.3s;
        opacity: 0;
        visibility: hidden;
        border-radius: 15px;
    }

    #button-up.visible {
        opacity: 1;
        visibility: visible;
    }

    #button-up:hover {
        border-color: var(--accent);
    }

    #progress {
        position: fixed;
        top: 0;
        left: 0;
        height: 4px;
        background: var(--accent);
        max-width: 100%;
        transition: width 0.1s;
    }

    :global(pre) {
        position: relative;
    }

    :global(pre:hover) .copy-button {
        opacity: 1;
    }

    :global(.copy-button) {
        position: absolute;
        right: 0.5rem;
        background: none;
        border: 1px solid var(--line);
        color: var(--text);
        font-size: 0.9rem;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        opacity: 0;
        transition:
            opacity 0.2s,
            border-color 0.2s;
        border-radius: 10px;
        align-self: center;
        width: 35px;
    }

    :global(pre:hover .copy-button) {
        opacity: 1;
    }

    :global(.copy-button:hover) {
        border-color: var(--accent);
    }
</style>

<script>
    const buttonUp = document.getElementById("button-up");
    const progress = document.getElementById("progress");
    const pros = document.querySelector(".prose") as HTMLElement;
    const meta = document.querySelector(".meta") as HTMLElement;
    const pre = document.querySelectorAll("pre") as NodeListOf<HTMLElement>;

    window.addEventListener("scroll", () => {
        if (window.scrollY > 300) {
            buttonUp!.classList.add("visible");
        } else {
            buttonUp!.classList.remove("visible");
        }
    });

    buttonUp!.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });

    window.addEventListener("scroll", () => {
        const scrollTop = window.scrollY;
        const noteHeight = document.body.scrollHeight - window.innerHeight;
        const progressWidth = (scrollTop / noteHeight) * 100;
        progress!.style.width = `${progressWidth}%`;
    });

    const words = pros.innerText.trim().split(/\s+/).length;
    const readingTime = Math.ceil(words / 200);
    const span = document.createElement("span");
    span.textContent = `~ ${readingTime} мин. чтения`;
    meta.appendChild(span);

    pre.forEach((pre) => {
        const button = document.createElement("button");
        button.textContent = "⎘";
        button.className = "copy-button";
        button.addEventListener("click", (e) => {
            const code = e.currentTarget as HTMLElement;
            const pre = code.parentElement as HTMLElement;
            const codeElement = pre.querySelector("code");
            if (codeElement) {
                const text = codeElement.innerText;
                navigator.clipboard.writeText(text);
                button.textContent = "✓";
                setTimeout(() => {
                    button.textContent = "⎘";
                }, 2000);
            }
        });
        pre.appendChild(button);
    });
</script>
